html {
	font-family: 'Francois One', sans-serif;
}

body {
	background-image: url("pattern.png");
	overflow: hidden;
}

header {
	color: #5D5D5D;
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
	font-size: 2em;
}

header h1 {
	margin: 0;
}

.nav {
	text-align: center;
}

#cent {
	color: #00CC99;
	font-size: 1.5em;
}

.animation-container {
	position: relative;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

.container {
	position: absolute;
	width: 100%;
}

.container.ng-enter {
	z-index: 100;
}

.container.ng-leave {
	z-index: 99;
}

.container.ng-enter, .container.ng-leave {
	transition: .5s linear all;
}

/* start state */
.container.ng-enter, .container.ng-leave.ng-leave-active {
	margin-left: 200em;
}

/* state end */
.container.ng-enter.ng-enter-active, .container.ng-leave {
	margin-left: 0;
}

.component {
	border: solid 5px #5D5D5D;
	background-color: white;
	margin: 1em;
	padding-bottom: 1em;
	-webkit-box-shadow: 0 3px 10px 2px #858585;
	box-shadow: 0 3px 10px 2px #858585;
}

.component p {
	text-align: left;
	padding: 1em;
}

.title {
	border-bottom: solid 3px #5D5D5D;
	text-align: left;
	margin: 0;
	padding: 1em;
}

#left-container {
	width: 45%;
}

#right-container {
	width: 40%;
}

.component-table {
	text-align: left;
	width: 80%;
	margin: 1.5em auto;
}

.column1 {
	text-align: right;
	width: 50%;
}

.number {
	width: 4em;
}

button {
	font-family: 'Francois One', sans-serif;
	font-size: 1em;
	padding: 0.5em;
	border: none;
	-webkit-border-radius: 0.75em;
	border-radius: 0.75em;
	cursor:pointer;
	min-width: 6em;
}

#submit {
	color: white;
	background-color: #00CC99;
}

.clear {
	background-color: white;
	color: #00CC99;
	border: solid 1px #00CC99;
}

#reset {
	float: right;
	margin: 1em 1em 0 0;
}

.errorDiv {
	display: inline-block;
}

.error {
	color: #cc0033;
}




